

.jumbotron {
    text-align: center;
    height: 250px;
    margin-bottom: 20px;
}

#enterNumber {
    margin-top: 10px;
    position: relative;
    top: 25px;
}

#unknownnumber {
    text-align: center;
}

#phonenumberlabel {
    font-size: 30px;
}

#exampleInputPhoneNumber {
    width: 200;
    margin-left: 25px;
    padding: 10px;
    height: 40;
}

#submitbutton {
    margin-left: 25px;
    padding: 5;
    width: 85px;
    margin-bottom: 5px;
}

#ResultsOutput, #TopScoresOutput, #LastScoresOutput {
    border: 1px solid darkcyan;
    margin-bottom: 25px;
    height: 500px;
}

h2 {
    border: 1px solid darkcyan;
    padding-left: 40px;
    margin: -1px;
}

#countrybox {
        background-color: lightblue;
        margin: 10px;
        width: 47%;
        height: 130;
}

#categorytypebox {
    background-color: rgb(49, 218, 85);
    margin: 0px 10px 10px 10px;
    height: 185px;
    width: 47%;
}

#linetypebox {
    background-color: rgb(219, 241, 91);
    height: 95;
    margin: 0px 0px 10px 10px;
    width: 47%;
}

#volumereportscorebox {
    background-color: rgb(248, 116, 215);
    height: 210;
    margin: 10px;
    width: 50%;
    position: relative;
    left: 530px;
    top: -440;
}

#scorereputationbox {
    background-color: rgb(247, 174, 80);
    margin: 10px;
    height: 210;
    width: 50%;
    position: relative;
    left: 530px;
    top: -440;
}

#TopScoresOutput {
    margin-bottom: 40px;
}

#savedscores {
    margin-top: 25px;
    background-color: rgb(32, 21, 126);
}

th {
    color: white;
}

#savedphonenumber {
    padding-left: 50px;
}

#savedscore {
    padding-right: 55px;
}

