#reputation-level-info {
  display: none;
  text-align: center;
  font-size: small;
  width: 250px;
  margin-left: 130px;
  margin-bottom: 3px;
}

#info-heading {
    margin-bottom: 3px;
}



#category-type-info {
  display: none;
  text-align: center;
  font-size: small;
  width: 275px;
  margin-left: 130px;
  margin-bottom: 3px;
}

#info-headings, #report-score{
    font-size: large;
    font-weight: 600;
}

#report-score-display,
#reputation-level-display,
#category-type-display {
  text-align: center;
  font-weight: 500;
}

#report-score-info {
  display: none;
  text-align: center;
  font-size: small;
  width: 400px;
  margin-left: 325px;
}

#category-type-info{
    display: none;
} 
#title {
    position: relative;
    top: -32px; 
}
#report-score-info{
    display: none;
}

.jumbotron {
  height: 225px;
  margin-bottom: 20px;
  background-color: white;
}
#phonenumberlabel {
  font-size: 30px;
}

#exampleInputPhoneNumber {
  width: 200;
  margin-left: 25px;
  padding: 10px;
  height: 40;
}

#submitbutton {
  margin-left: 25px;
  padding: 5;
  width: 85px;
  margin-bottom: 5px;
}

#map-appears-here {
  height: 400px;
  width: 100%;
}

#address-column{
    background-color: white;
}

#volume-score-column {
  background-color: lightskyblue;
}


#report-score-column{
    background-color: white;
}

#score-column {
  background-color: lavender;
}

#ResultsOutput,
#TopScoresOutput {
  border: 1px solid black;
  margin-bottom: 25px;
  height: 500px;
}
.card {
  border: 1px solid black;
  margin-bottom: 15px;
}

h2 {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  width: 850px;
  margin-left: 110px;
}

.subname {
  padding-left: 475px;
}

#savedscores {
  margin-top: 25px;
  background-color: rgb(32, 21, 126);
}

th {
  color: white;
}

#savedphonenumber {
  padding-left: 50px;
}

#savedscore {
  padding-right: 55px;
}

footer {
  background: lightgray;
  color: black;
  padding-top: 5px;
  border-top-color: black;
  border-style: solid;
  border-width: 2px 0 0 0;
}

#dataRows {
  background-color: ghostwhite;
}

.card-one {
    border: none;
    /* background-color: lightgray; */
}

/* .form-group {
    border: 1px solid black;
} */
