.jumbotron {
    height: 250px;
    margin-bottom: 20px;
}
#phonenumberlabel {
    font-size: 30px;
}

#exampleInputPhoneNumber {
    width: 200;
    margin-left: 25px;
    padding: 10px;
    height: 40;
}

#submitbutton {
    margin-left: 25px;
    padding: 5;
    width: 85px;
    margin-bottom: 5px;
}

#map-column{
    background-color: lightblue;
}

#map-appears-here {
    height: 400px;
    width: 100%;
}

#address-column{
    background-color: lightcyan;
}

#volume-score-column{
    background-color: lightskyblue;
}
#report-score-column{
    background-color: lightsteelblue;
}
#score-column{
    background-color:lavender;
}


#ResultsOutput, #TopScoresOutput {
    border: 1px solid darkcyan;
    margin-bottom: 25px;
    height: 500px;
}

h2 {
    border: 1px solid darkcyan;
}


.subname {
    padding-left: 475px;
}

#savedscores {
    margin-top: 25px;
    background-color: rgb(32, 21, 126);
}

th {
    color: white;
}

#savedphonenumber {
    padding-left: 50px;
}

#savedscore {
    padding-right: 55px;
}
